@mixin font($font_name, $file_name, $weight, $style) {

  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"),
    url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

@import "fonts";
@import "media";


html {
  background-color: #dbad84;
  height: 100%;
  line-height: 1.5;
  overflow-x: hidden;
  overflow-y: scroll;
  box-sizing: border-box;
  color: #fff;
}

html, body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  min-height: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

header, footer {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
}

header {
  h1 {
    font-size: 60px;
  }
}

.animation2 {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

}

.animation {
  height: 100vh;
  position: relative;
  overflow: hidden;

}

.paper-plane {
  position: absolute;
  top: 50%;
  left: 0;
  height: 100px;
}


#pinContainer {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#slideContainer {
  width: 400%; /* to contain 4 panels, each with 100% of window width */
  height: 100%;
}

.panel {
  height: 100%;
  width: 25%; /* relative to parent -> 25% of 400% = 100% of window width */
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
}

.panel1 {
  background-image: linear-gradient(to top, #bdc2e8 0%, #bdc2e8 1%, #e6dee9 100%);
}

.panel2 {
  background-image: linear-gradient(to top, #d5dee7 0%, #ffafbd 0%, #c9ffbf 100%);
}

.panel3 {
  background-image: linear-gradient(to top, #cc208e 0%, #6713d2 100%);
}

.panel4 {
  background-image: linear-gradient(to top, #b3ffab 0%, #12fff7 100%);
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 2vw;

  & > div {
    font-size: 5vw;
    padding: .5em;
    background: gold;
    text-align: center;
  }
}

.intro {
  height: 100vh;
  position: relative;

  video {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
  }
}

.intro__wrapper {
  height: 100vh;
  color: black;

  h1 {
    padding-top: 300px;
    text-align: center;
    font-size: 80px;
    color: black;
  }
}

.section32 {
  padding-top: 20px;

  background: #000;

}

#hero-lightpass {
  transform: translate(-50%, -50%);
  max-width: 100vw;
  max-height: 100vh;
}

.type-text {
  background: black;
  height: 100vh;
  font: 16px/140% 'Courier New', Courier, Arial;
  padding: 20px;
  color: lime;
  white-space: pre;

  span {
    visibility: hidden;
    display: inline-block;
    min-width: 10px;
    position: relative;

    &.visible {
      visibility: visible;
      animation: shows 0.7s ease-in;
      transform: perspective(400px) rotateY(0deg);
    }
  }
}

@keyframes shows {
  0% {
    transform: scale(4) translateX(0);
    color: #f00;
    text-shadow: 0 0 5px #f00, 0 0 10px #f00, 0 0 15px #f00, 0 0 1px #f00, 0 0 2px #f00;
  }
  30% {
    transform: scale(0.5) translateX(0);
    color: #f90;
    text-shadow: 0 0 5px #ff0, 0 0 10px #ff0, 0 0 15px #ff0;
  }
  100% {
    transform: scale(1) translateX(0);
    color: #0f0;
    text-shadow: 0 0 0px #f00;
  }
}

.img-compare222 {
  height: 1000px;
  width: 100%;
}

.image-compare {
  position: relative;
  height: 100%;

  img {
    width: 100%;
    height: 100%;
    background-position: center;
    object-fit: cover;
    background-size: cover;

  }
}

.image-2 {
  --exposure: 50%;

  display: block;
  clip-path: polygon(
                  calc(var(--exposure) + 1px) 0,
                  100% 0,
                  100% 100%,
                  calc(var(--exposure) + 1px) 100%
  );
}

.image-2-wrapper {
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  filter: drop-shadow(-2px 0 0 hsla(0, 0%, 0%, 0.9));
  height: 100%;
}

.image-compare-label {
  align-items: stretch;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.image-compare-input {
  --thumb-size: clamp(3em, 10vmin, 5em);

  /* Go half a "thumb" off the edge to the left and right" */
  margin: 0 calc(var(--thumb-size) / -2);
  /* Make the input a full "thumb" wider than 100% so it extends past the edges */
  width: calc(100% + var(--thumb-size));
  cursor: col-resize;
  appearance: none;
  -webkit-appearance: none;
  background: none;
  border: none;
}

/* Firefox */
.image-compare-input::-moz-range-thumb {
  /* A white background with slight transparency */
  background-color: hsla(0, 0%, 100%, 0.9);
  /* An inline SVG of two arrows facing opposite directions */
  background-image: url('data:image/svg+xml;utf8,<svg viewbox="0 0 60 60"  width="60" height="60" xmlns="http://www.w3.org/2000/svg"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="4" d="M20 20 L10 30 L20 40"/><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="4" d="M40 20 L50 30 L40 40"/></svg>');
  background-size: 90%;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: 2px hsla(0, 0%, 0%, 0.9) solid;
  color: hsla(0, 0%, 0%, 0.9);
  width: var(--thumb-size);
  height: var(--thumb-size);
}

.image-compare-input:focus::-moz-range-thumb {
  box-shadow: 0px 0px 0px 2px hsl(200, 100%, 80%);
}

/* Chrome, Safari and Edge, */
.image-compare-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* A white background with slight transparency */
  background-color: hsla(0, 0%, 100%, 0.9);
  /* An inline SVG of two arrows facing opposite directions */
  background-image: url('data:image/svg+xml;utf8,<svg viewbox="0 0 60 60"  width="60" height="60" xmlns="http://www.w3.org/2000/svg"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="4" d="M20 20 L10 30 L20 40"/><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="4" d="M40 20 L50 30 L40 40"/></svg>');
  background-size: 90%;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: 2px hsla(0, 0%, 0%, 0.9) solid;
  color: hsla(0, 0%, 0%, 0.9);
  width: var(--thumb-size);
  height: var(--thumb-size);
}

.image-compare-input:focus::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px var(--thumb-border-size) hsl(200, 100%, 80%);
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

//текст с курсором
.type-text-cursor {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.text {
  width: 29ch;
  color: white;
  font-family: monospace;
  font-size: 30px;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid white;
  animation: cursor 0.75s step-end infinite, printed_text 5s steps(29);
}

@keyframes cursor {
  0% {
    border-color: white;
  }

  50% {
    border-color: transparent;
  }

  100% {
    border-color: white;
  }
}

@keyframes printed_text {
  from {
    width: 0;
  }
}

.man-animation {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .man-animation__wrapper {
    max-width: 1220px;
    width: 100%;
    height: 620px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
  }

  .left-block {
    width: calc(50% - 20px)
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 85px;
    background: #F53838;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    line-height: 25px;
    border-radius: 10px;
    position: relative;
    text-transform: capitalize;

    &:after {
      position: absolute;
      top: 70px;
      left: 19px;
      content: "";
      width: 211px;
      height: 60px;
      background: rgba(245, 56, 56, 0.35);
      filter: blur(54px);
      border-radius: 10px;
    }
  }
}

.rew {
  display: none;
}